# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media
images
# Pillow
*.DS_Store
*.vscode

# Psycopg2
*.pgpass

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
./.idea
.idea
idea/

# Editor files
*.sublime-project
*.sublime-workspace
*.vscode

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log
