{% extends "base.html" %}
{% load static %}
{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/delete_photo.css' %}">
{% endblock %}

{% block content %}
  <div class="delete-photo-wrapper">
    <div class="delete-photo-content">
      <h2>Удалить фотографию</h2>
      <p>Вы уверены, что хотите удалить фотографию "{{ photo.name }}"?</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
      </form>
    </div>
  </div>
{% endblock %}
