{% extends 'base.html' %}
{% load static %}

{% block title %}Parallelism{% endblock %}

{% block content %}
    <!-- Main -->
    <section id="main">
        <div class="photo-gallery">
        <div class="category-list">
            <a href="{% url 'card:home' %}">All</a>
            {% for category in categories %}
                <a href="{% url 'card:home_category' category.slug %}">{{ category.name }}</a>
            {% endfor %}
        </div>
            </div>
        <!-- Items -->
        <div class="items">
            <div class="item intro span-2">
                <h1>Album</h1>
                <p>This is a Django-based portfolio site<br />
                to publicly showcase their projects</p>
            </div>

            {% for photo in photos %}
                {% if forloop.counter|divisibleby:3 %}
                    <article class="item thumb span-2">
                        <h2>{{ photo.name }} ({{ photo.user }})</h2>
                        <a href="{{ photo.image.url }}" target="_blank" class="image"><img src="{{ photo.image.url }}" alt="{{ photo.name }}"></a>
                    </article>
                {% else %}
                    <article class="item thumb span-1">
                        <h2>{{ photo.name }} ({{ photo.user }})</h2>
                        <a href="{{ photo.image.url }}" target="_blank" class="image"><img src="{{ photo.image.url }}" alt="{{ photo.name }}"></a>
                    </article>
                {% endif %}
            {% endfor %}

        </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        <!-- Footer -->
        <section id="footer">

            </section>
    </section>
{% endblock %}
